:root{
    /*===========================font=size================*/
    --fs-5xl:72px;
    --fs-4xl:30px;
    --fs-3xl:26px;
    --fs-2xl:24px;
    --fs-xl:22px;
    --fs-lg:20px;
    --fs-md:18px;
    --fs-sm:16px;

    /*===========================font=weight================*/
    --fw-lg:700;
    --fw-md:600;
    --fw-sm:400;

    /*===========================color================*/
    --color-white:#FFFFFF;
    --color-sky-blue:#1BABFE;
    --color-null:#5F9298;
    --color-grey:#C4C4C4;
    --color-light-grey:#8C8C8C;
    --grey-gradient:linear-gradient( #FFFFFF24 14% , #FFFFFF0F 6%) 1;
    --gradient:linear-gradient(149.67deg, #815CC8 29.44%, #1BABFE 81.54%);
    --sky-blue-gradient:linear-gradient(180deg, #815CC8 0%, #1BABFE 100%);
}
/*===============================color================*/
.gradient{
    background:var(--gradient);
}
.color-white{
    color:var(--color-white);
}
.sky-blue{
    color:var(--color-sky-blue);
}
.font-400-72{
    font-size:var(--fs-5xl);
    font-weight:var( --fw-sm);
    line-height: 127.5%;
}

/*=============================font-size-weight==============*/
.font-600-30{
    font-size:var(--fs-4xl);
    font-weight:var( --fw-md);
}
.font-600-26{
    font-size:var(--fs-3xl);
    font-weight:var( --fw-md);
}
.font-400-24{
    font-size:var(--fs-2xl);
    font-weight:var( --fw-sm);
}
.font-400-22{
    font-size:var(--fs-xl);
    font-weight:var( --fw-sm);
}
.font-600-20{
    font-size:var(--fs-lg);
    font-weight:var( --fw-md);
}
.font-400-18{
    font-size:var(--fs-md);
    font-weight:var( --fw-sm);
}
.font-400-16{
    font-size:var(--fs-sm);
    font-weight:var( --fw-sm);
}