:root{
    /*===========================font=size================*/
    --fs-2xl:72px;
    --fs-xl:30px;
    --fs-lg:24px;
    --fs-md:22px;
    --fs-sm:18px;

    /*===========================font=weight================*/
    --fw-lg-:700;
    --fw-lg-:600;
    --fw-lg-:400;

    /*===========================color================*/
    --color-white:#FFFFFF;
    --color-sky-blue:#1BABFE;
    --gradient:linear-gradient(149.67deg, #815CC8 29.44%, #1BABFE 81.54%);

}
/*===============================color================*/
.gradient{
    background:var(--gradient);
}
.color-white{
    color:var(--color-white);
}
.sky-blue{
    color:var(--color-sky-blue);
}
.font-400-72{
    font-size:var(--fs-2xl);
    font-weight:var( --fw-lg);
}
.font-400-22{
    font-size:var(--fs-md);
    font-weight:var( --fw-lg);
}