@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url(./root.css);

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}

.container {
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 12px;
  padding-right: 12px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-left: -12px;
  margin-right: -12px;
}

.d-flex {
  display: flex;
}

.align-item-center {
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.align-content-center {
  align-content: center;
}
.text-nowrap{
  text-wrap: nowrap;
}

.z-10 {
  z-index: 10;
}

.w-100 {
  width: 100%;
}

.gap-30 {
  gap: 30px;
}

.gap-16 {
  gap: 16px;
}

.gap-170 {
  gap: 174px;
}

.gap-8 {
  gap: 8px;
}

.gap-102 {
  gap: 102px;
}
.gap-48{
  gap: 48px;
}

.py-25 {
  padding-top: 17px;
  padding-bottom: 17px;
}

.menu {
  background: #0000001a;
}

.gradient-btn {
  color: #ffffff;
  border: none;
  padding: 14px 34px 14px 34px;
  gap: 10px;
  border-radius: 79px;
  opacity: 0px;
  display: flex;
  transition: all 300ms linear;
}

.gradient-btn:hover {
  box-shadow: 0px 8px 30px 0px #1babfe;
}

.bg-img {
  background-image: url(/assets/image/png/bg-img.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.nav-links:hover {
  -webkit-text-stroke: 0.5px;
}

.col-lg-6 {
  width: 50%;
}

.mt-60 {
  margin-top: 60px;
}
.mb-2{
  margin-bottom: 2px;
}

.padding-17 {
  padding: 16px 17px;
}

.padding-23-17 {
  padding: 23px 17px;
}

.padding-10-17 {
  padding: 10px 17px;
}

.padding-23 {
  padding: 23px 0;
}
.mt-64{
  margin-top: 64px;
}
.max-width-540{
  max-width: 540px;
}
.py-section{
  padding-bottom: 156px;
}

.box-bg {
  backdrop-filter: blur(10px);

}
.line{
  height: 2px;
  width: 100%;
  background:var(--color-grey);
}
.line-2{
  height: 2px;
  width: 67%;
  background:var(--sky-blue-gradient);
}
.gradient-border{
  border-image:var(--grey-gradient);
  border-width: 1px;
  border-style: solid; 
}
.gradient-bg{
  backdrop-filter: blur(30px);
}

.border-radius{
  border-radius: 30px;
}

.border-bottom {
  border-bottom: 0.4px groove var(--color-light-grey);
}

/*---------------------------------font-family-------------------------------*/
.font-family-Poppins {
  font-family: "Poppins", sans-serif;
}

.font-family-Josefin {
  font-family: "Josefin Sans", sans-serif;
}

/* -----------------------------------responsive-------------------------------- */
@media (max-width: 992px) {
  label[for="menuIcon"] {
    width: 30px;
    height: 22px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    position: fixed;
    z-index: 10;
    right: 2%;
    margin-top: 10px;
  }

  .smallscreen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0%;
    right: -100%;
    transition: all 200ms linear;
    z-index: 1;
  }

  label[for="menuIcon"]>span {
    width: 100%;
    height: 3px;
    background-color: #ffff;

    border-radius: 2px;
  }

  input[type="checkbox"]:checked~.smallscreen {
    right: 0;
    background: linear-gradient(90deg, #815cc8 0%, #1babfe 100%);
    width: 50%;
  }
  .col-12{
    width: 100%;
  }
  .mt-65{
    margin-top: 65px;
  }
  .mt-60{
    margin-top: 50px;
  }
}